################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureFunctionSendEmail/Properties
*.gitignore
/AzureFunctionSendEmail/bin
/AzureFunctionSendEmail/obj
